{% extends 'base.html' %}

{% load static %}
{% block title %}Update {% endblock title %}
{% block main %}


    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
  
    <div class="container">

        <h1>Update Food Recipe</h1>

    <form method="post" action="{% url 'update_recipe' food.id %}" enctype="multipart/form-data" class="border p-3 rounded shadow-sm">
        {% csrf_token %}

        <div class="form-group">
            <label for="food_name">Name:</label>
            <input type="text" value="{{food.food_name}}" class="form-control" id="food_name" name="food_name" >
        </div>

        <div class="form-group">
            <label for="food_description">Description:</label>
            <textarea class="form-control" id="food_description" name="food_description" >{{food.food_description}}</textarea>
        </div>

        <div class="form-group">
            <label for="food_image">Image:</label>
            <input type="file" class="form-control-file" id="food_image" name="food_image">
        </div>

        <button type="submit" class="btn btn-primary">Update Recipe</button>
    </form> 

        
    </div>
    <!-- Alrtyfy js JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- Bootstrap JS and Popper.js CDN (optional, for Bootstrap features like dropdowns) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UJwZMz9pZ3DxIqL+3tskI+FlbmMVBPO8A0L/6Qs3xHQ==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>


{% endblock main %}